In [8]:
# importing data modules
import matplotlib.pyplot as plt
import numpy as np
import pandas as py
import seaborn as sns

In [6]:
# loading csv file
df = py.read_csv(r"C:/Users/giles/OneDrive - Cape IT Initiative/Desktop/VS Projects\Sales Story/sales_data_storytelling.csv")

In [9]:
# Setting the style for seaborn
sns.set(style="whitegrid")

In [10]:
# checking file contents 
df.head()

   Month;Product;UnitsSold;Revenue
0  2023/01/01;Notebooks;50;2346.79
1       2023/01/01;Pens;55;4987.65
2    2023/01/01;Markers;25;2290.35
3    2023/01/01;Folders;94;4394.78
4   2023/01/01;Staplers;153;4887.8