In [8]:
# importing data modules
import matplotlib.pyplot as plt
import numpy as np
import pandas as py
import seaborn as sns

In [13]:
# set the style for seaborn
sns.set(style="whitegrid")

In [22]:
# loading csv file 
# adding sep -> separates the data and adds space between rows and column
df = py.read_csv(r"C:/Users/giles/OneDrive - Cape IT Initiative/Desktop/VS Projects\Sales Story/sales_data_storytelling.csv", sep=';')

In [19]:
# checking file contents and displaying file contents
print(df.head())

        Month    Product  UnitsSold  Revenue
0  2023/01/01  Notebooks         50  2346.79
1  2023/01/01       Pens         55  4987.65
2  2023/01/01    Markers         25  2290.35
3  2023/01/01    Folders         94  4394.78
4  2023/01/01   Staplers        153  4887.80

In [ ]:
# convering Month column to datetime for better handling
df['Month'] = py.to_datetime(df['Month'])

# group the data by month to calculate total revenue
month_revenue = df.groupby('Month')['Revenue'].sum().reset_index()

# displaying month revenue results
print(month_revenue)

        Month   Revenue
0  2023-01-01  18907.37
1  2023-02-01  11553.30
2  2023-03-01  10426.56
3  2023-04-01   8782.97
4  2023-05-01  13220.06
5  2023-06-01  13732.25
6  2023-07-01  19947.59
7  2023-08-01   9842.48
8  2023-09-01  15001.41
9  2023-10-01  16074.78
10 2023-11-01  19136.66
11 2023-12-01  11193.40

In [29]:
# group data by month to calculate total units
month_units = df.groupby('Month')['Revenue'].sum().reset_index()

# displaying month units result
print(month_units)

        Month   Revenue
0  2023-01-01  18907.37
1  2023-02-01  11553.30
2  2023-03-01  10426.56
3  2023-04-01   8782.97
4  2023-05-01  13220.06
5  2023-06-01  13732.25
6  2023-07-01  19947.59
7  2023-08-01   9842.48
8  2023-09-01  15001.41
9  2023-10-01  16074.78
10 2023-11-01  19136.66
11 2023-12-01  11193.40